@model SevereWeatherWarnings.Models.Display.WeatherWarningDetailsViewModel;
<div class="row g-0">
    <div class="col-md-6">
        <div class="map-window">
            <div class="text-center">
                <div id='map' data-accesstoken="@ViewData["MapBoxConnectionString"]"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="warning-details">
            <h1 class="@Model.WeatherWarningClassFor(Model.WarningProperties.EventType)">@Model.WarningProperties.Event</h1>
            <h2>@Model.WarningProperties.AreaDescription</h2>
            <br />
            <h3>@Model.WarningProperties.Headline</h3>
            <br />
            <div class="warning-detail-content">
                <div class="row g-0">
                    <p class="main-description">@Html.Raw(Model.WarningProperties.Description.Replace("\n", "<br />"))</p>
                </div>
                <div class="row g-0">
                    <p class="main-description">@Html.Raw(Model.WarningProperties.Instruction.Replace("\n", "<br />"))</p>
                </div>
                <div class="row g-0">
                    <p class="main-description">@Html.Raw(Model.WarningProperties.Instruction.Replace("\n", "<br />"))</p>
                </div>
                <br />
                <h3>More Details</h3>
                <div class="additional-properties">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="standard-label">Max Hail Size </span>
                        </div>
                        <div class="col-md-2">
                            <span class="hail-size-1">Up to .75inch</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span class="standard-label">Max Hail Size </span>
                        </div>
                        <div class="col-md-2">
                            <span class="hail-size-2">1.00 inch</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span class="standard-label">Max Hail Size </span>
                        </div>
                        <div class="col-md-2">
                            <span class="hail-size-3">1.50 inch</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span class="standard-label">Max Hail Size </span>
                        </div>
                        <div class="col-md-2">
                            <span class="hail-size-4">2.00 inch</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span class="standard-label">Max Hail Size </span>
                        </div>
                        <div class="col-md-2">
                            <span class="hail-size-5">2.50 inch</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span class="standard-label">Max Hail Size </span>
                        </div>
                        <div class="col-md-2">
                            <span class="hail-size-6">3.00 inch</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span class="standard-label">Max Hail Size </span>
                        </div>
                        <div class="col-md-2">
                            <span class="hail-size-7">Over 3.5 inch</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>